.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 2rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.markdown-content {
  text-align: left;
  padding: 1rem;
}

.markdown-content img {
  max-width: 100%;
  height: auto;
}

/* Playlist Modal Styles */
.playlist-list {
  margin-top: 20px;
}

.playlist-item {
  padding: 10px 0;
  text-align: left;
}

.playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.playlist-item h3 {
  margin: 0;
  font-size: 1.2rem;
}

.playlist-item p {
  margin: 5px 0;
  font-size: 0.9rem;
}

.empty-playlists {
  text-align: center;
  padding: 40px 0;
}

/* Custom scrollbar */
.custombar1 .p-scrollpanel-wrapper {
  border-right: 10px solid #f5f5f5;
}

.custombar1 .p-scrollpanel-bar {
  background-color: #1DB954;
  opacity: 1;
  transition: background-color .3s;
}

.custombar1 .p-scrollpanel-bar:hover {
  background-color: #19a34a;
}
